# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Build Output
# =========================
dist/
build/

# =========================
# CDK
# =========================
cdk.out/

# =========================
# Environment Files
# =========================
.env
.env.*
frontend/.env*
admin-frontend/.env*

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
